@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $base-color--dark;
}